<<<<<<< HEAD
$primary-color: #6B0C22;
$primary-outline-color: #011C26;
$primary-words-color: #ffffff;
$secondary-color: #588C8C;
$background-color: #ffffff;
$border-color: #dddddd;
$gutter-color: #cccccc;
$faded-text-color: #999999;
$log-icon-color: #000000;
$log-icon-text-color: #ffffff;
$text-color: #333333;

## #020203
## #4C6085
## #ACBEA3
## #3A7CA5
## #A05D4B
=======
/* Put any custom styles here.  They will override the default styles. */
>>>>>>> 70ee738867532598e68588c9160e14e29d230502
